// All external styling files are imported at the top here
@import './variables.scss';
@import './utilities.scss';

// CSS Reset: this is to remove default browser padding behavior and margin styles on the body
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

.loader {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw !important;
    transition: all 300ms ease-in-out;
    animation: load 1s infinite;
    background: #ffffff;
}

@keyframes load {
    0% {
        display: none;
    }

    100% {
        display: flex;
    }
}


.split-screen {
    // background-color: #fdfdfd;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    height: 95vh;

    .left__container {
        max-width: 95%;
        margin: 0 auto;

        .left {
            display: flex;
            flex-direction: column;
            background: #fefefe;
            height: 100%;

            .logo__img {
                margin-top: 6rem;
                margin-bottom: 10rem;
                height: 36px;
                padding-left: 3rem;
            }

            .banner {
                display: flex;
                justify-content: center;
                // height: 100%;
                // align-items: center;

                img {
                    width: 700px;
                }
            }

        }
    }


    .right {
        background-color: $onwhite;
        display: flex;
        align-items: center;
        // justify-content: center;
        box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);

        form {
            padding-left: 7rem;
            width: 100%;

            .form__title {
                color: $lendsqrBlue;
                padding-bottom: .5rem;
                line-height: 1.5em;
            }

            .form__description {
                color: $lendsqrLightGray;
                font-weight: $fw-400;
                padding-bottom: 4rem;
            }

            .form-group {
                margin-bottom: 1.5rem;
                width: 100%;

                input {
                    border-radius: $rounded;
                    padding: .9rem 1rem;
                    background: $onwhite;
                    width: 550px;
                    border: 2px solid rgba(84, 95, 125, 0.15);
                }

                input::placeholder {
                    color: $lendsqrLightGray;
                }
            }

            a.forgot {
                letter-spacing: 0.1em;
            }

            .login__btn {
                margin-top: 2rem;
                width: 550px !important;

                a {
                    width: 100%;
                    display: inline-flex;
                    text-align: center;
                    justify-content: center;
                }
            }
        }
    }
}

.ui-dashboard {

    .topbar {
        padding: 2rem 1rem 2rem 2rem;
        position: sticky;
        background-color: #ffffff;
        top: 0px;
        left: 0px;
        z-index: 7;
    }

    .ui-dashboard-body {
        min-height: 100vh;
        display: flex;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        position: relative;



        .sidebar {
            background: #fff;
            height: 100vh;
            width: 300px;
            position: fixed !important;
            left: 0px;
            z-index: 500;
            overflow-y: scroll;



            .content {


                .sdr__org {
                    padding-top: 2rem;
                    padding-bottom: 3rem;
                }

                .sdr__dash {
                    margin-bottom: 2rem;
                }

                .sdr__stack {
                    padding-left: 1.5rem;
                }

                .sdr__link__route {

                    padding-top: .5rem;

                    .sdr__links {
                        padding: .5rem;
                        padding-left: 1.5rem;
                        margin-bottom: 1rem;
                        border-left: 4px solid transparent;
                        color: #21407d9f;
                    }

                    .sdr__links.active,
                    .sdr__links:hover {
                        transition: 400ms ease-in-out all;
                        background-color: $primaryLightColor;
                        color: $lendsqrBlue;
                        border-left: 4px solid $primaryColor;
                    }
                }


            }


        }

        .sidebar::-webkit-scrollbar {
            display: none;
        }


        .ui-dashboard-content {
            background-color: #FBFBFB;
            padding-left: 300px;
            width: 100%;

            .ui-content {
                padding-top: 2rem;
                padding-left: 2rem;
                padding-right: 2rem;
            }

            .ui-card {

                .ui-dash-usercard {

                    display: grid;
                    max-width: 100%;
                    width: 100%;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 2rem;
                    margin-top: 2.5rem;
                    margin-bottom: 2.5rem;


                    .inner {

                        background-color: $onwhite;
                        padding: 1.3rem;
                        padding-left: 1.8rem;
                        padding-bottom: 2rem;
                        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);

                        .user-icon {
                            height: 40px;
                            width: 40px;
                            border-radius: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .user {
                            padding: .7rem 0;
                        }

                    }

                }

                .ui-dashboard-table {

                    // justify-content: space-between;


                    table {
                        width: 100%;
                        background-color: $onwhite;
                        padding: 2rem;
                        width: 100%;
                        position: relative;

                        .filter {
                            background-color: #ffffff;
                            padding: 1.5rem 1rem;
                            box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
                            border-radius: $rounded-sm;
                            max-width: 270px;
                            width: 100%;
                            top: 70px;
                            left: 20px;
                            position: absolute;

                            form {

                                width: 100%;

                                .form-group {
                                    display: block;
                                    margin-bottom: 1rem;
                                    width: 100%;

                                    select,
                                    input {
                                        width: 100%;
                                        background: #FFFFFF;
                                        opacity: 0.2;
                                        border: 1px solid #213F7D;
                                        border-radius: 8px;
                                        padding: .6rem .8rem;
                                        margin-top: .2rem;
                                    }

                                    label {
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 14px;
                                        color: #545F7D;
                                    }
                                }

                                .actions {

                                    width: 100%;
                                    display: flex;
                                    justify-content: space-between;

                                    a {
                                        background-color: transparent;
                                        border: 1px solid #545F7D;
                                        border-radius: 8px;
                                        padding: .6rem 1rem;
                                        text-align: center;
                                        color: $lendsqrLightGray;
                                        width: 110px;
                                    }

                                    a.active {
                                        background-color: #39CDCC;
                                        padding: .6rem 1rem;
                                        text-align: center;
                                        color: $onwhite;
                                        border-radius: 8px;
                                        width: 110px;
                                        border: none;
                                    }
                                }
                            }
                        }

                        thead {
                            tr {

                                th {
                                    padding-bottom: 1rem;
                                    color: $lendsqrLightGray;
                                    font-weight: $fw-600;
                                    font-size: 12px;
                                    text-transform: uppercase;
                                    cursor: pointer;

                                    img {
                                        position: relative;
                                        top: 4px;
                                        margin-left: 8px;

                                    }
                                }
                            }
                        }

                        tbody {

                            tr {
                                td {
                                    color: $lendsqrLightGray;
                                    font-weight: $fw-400;
                                    padding: .8rem 0;
                                    padding-top: 1rem;
                                    border-bottom: 1.5px solid rgba(33, 63, 125, 0.1) !important;

                                    img {
                                        cursor: pointer;
                                        height: 14.5px;
                                    }

                                    .menupop {

                                        width: 180px;
                                        padding: 1.3rem;
                                        padding-left: 1.5rem;
                                        background-color: #fff;
                                        font-weight: $fw-500;
                                        border-radius: $rounded-sm;
                                        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
                                        border: 1px solid rgba(84, 95, 125, 0.04);
                                        left: -105px;
                                        top: 7px;
                                        z-index: 5;

                                        a {
                                            text-decoration: none;
                                            display: flex;
                                            align-items: center;
                                            margin-bottom: 1rem;

                                            span {
                                                margin-left: .7rem;
                                                color: $lendsqrLightGray;
                                            }
                                        }

                                        a:last-child {
                                            margin-bottom: 0;
                                        }


                                    }

                                    span.status {
                                        display: inline-flex;
                                        align-items: center;
                                        padding: .3rem 1rem;
                                        border-radius: 100px;
                                        text-transform: capitalize;
                                        font-weight: $fw-400;
                                    }

                                    span.status.red {
                                        color: #E4033B;
                                        background-color: #E4033B15;
                                    }

                                    span.status.yellow {
                                        color: #E9B200;
                                        background-color: #E9B20015;
                                    }

                                    span.status.green {
                                        color: #39CD62;
                                        background-color: #39CD6215;
                                    }

                                    span.status.gray {
                                        color: #545F7D;
                                        background-color: #545F7D15;
                                    }
                                }

                                td:last-child {
                                    border-bottom: 0 !important;
                                }

                                


                            }
                        }
                    }

                    .pagination {
                        margin-top: 1.5rem;

                        .select {
                            position: relative;

                            // width: 100px;

                            select {
                                // background-color: rgba(33, 63, 125, 0.1);
                                color: $lendsqrBlue;
                                // border: none;

                                background-color: rgba(33, 63, 125, 0.1);
                                width: 80px;
                                // height: 30px;
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                appearance: none;
                                cursor: pointer;
                                outline: none;
                                border: none;
                                border-radius: $rounded-sm;
                                margin: 0 .5rem;
                                padding: .4rem .5rem;



                            }

                            img {
                                position: absolute;
                                right: 20px;
                                top: 25%;
                                cursor: pointer;
                                color: #3097D1;
                                pointer-events: none;
                            }
                        }



                    }
                }



            }

            .ui-dash-panel {
                padding: 2rem;
                background-color: #ffffff;
                border-radius: $rounded-sm;
                border: 1px solid rgba(33, 63, 125, 0.06);
                box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
                margin-bottom: 2rem;
                position: relative;

                .userdetails {
                    display: flex;
                    align-items: center;
                    padding-bottom: 3rem;


                    .img__card {
                        height: 100px;
                        width: 100px;
                        border-radius: 100%;
                        background-color: #213F7D15;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 1.5rem;
                    }

                    .account__details {

                        h3 {
                            padding-bottom: .5rem;
                        }

                    }

                    .tier {
                        padding: 1rem 2rem;
                        border-left: 1px solid rgb(84, 95, 125, 0.2);
                        border-right: 1px solid rgb(84, 95, 125, 0.2);
                        margin: 0 2rem;
                        height: 100%;

                        h3 {
                            padding-bottom: .5rem;
                            padding-top: .4rem;
                        }
                    }

                    .bank__info {
                        h3 {
                            padding-bottom: .5rem;
                        }

                    }
                }

                .tablist {
                    display: block !important;
                }

                .tab-panel {
                    width: 100%;
                    position: absolute;
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    justify-content: space-between;
                    bottom: 0px;
                    padding-right: 1.2rem;
                    list-style: none;


                    .tab {
                        cursor: pointer;
                        // padding: 0 2rem;
                        text-align: center;
                        width: fit-content;
                        color: #000000;
                        padding: 0 1rem;
                        border-bottom: 2px solid transparent;
                        padding-bottom: .5rem;
                        transition: 50ms all ease-in-out;

                    }

                    .tab.active {
                        padding: 0 1rem;
                        border-bottom: 2px solid #39CDCC;
                        color: #39CDCC;
                        transition: 200ms all ease-in-out;

                    }

                    .tab:focus-visible {
                        outline: none;
                    }

                }

                .personal__info {

                    h3 {
                        margin-bottom: 2rem;
                    }

                    .pinfo h4,
                    .einfo h4,
                    .sinfo h4,
                    .ginfo h4,
                    .gdinfo h4 {
                        padding-bottom: .4rem;
                    }

                    .pinfo,
                    .einfo,
                    .sinfo,
                    .ginfo,
                    .gdinfo {
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        column-gap: 2rem;
                        row-gap: 2rem;
                        border-bottom: 1px solid rgb(33, 63, 125, 0.1);
                        padding-bottom: 2rem;
                        margin-bottom: 2rem;
                        transition: all 300ms ease-in-out;


                    }

                    .einfo {

                        grid-template-columns: repeat(4, 1fr);
                        column-gap: 2rem;

                    }

                    .ginfo {
                        column-gap: 2rem;
                    }

                    .gdinfo {
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        column-gap: 2rem;
                        row-gap: 2rem;
                        border: none;
                        padding-bottom: 1rem;
                        margin-bottom: 0;
                        margin-top: 4rem;

                    }
                }

            }

        }
    }

    .ui-dashboard-body.sdbr--cllps {
        padding-left: 91px !important;
    }

}