@import './variables.scss';

.fs-10 {
    font-size: 10px
}

;

.fs-11 {
    font-size: 11px
}

;

.fs-12 {
    font-size: 12px
}

;

.fs-13 {
    font-size: 13px
}

;

.fs-14 {
    font-size: 14px
}

;

.fs-15 {
    font-size: 15px
}

;

.fs-16 {
    font-size: 16px
}

;

.fs-17 {
    font-size: 17px
}

;

.fs-18 {
    font-size: 18px
}

;

.fs-19 {
    font-size: 19px
}

;

.fs-20 {
    font-size: 20px
}

;

.fs-21 {
    font-size: 21px
}

;

.fs-22 {
    font-size: 22px
}

;

.fs-23 {
    font-size: 23px
}

;

.fs-24 {
    font-size: 24px
}

;

.fs-25 {
    font-size: 25px
}

;

.fs-26 {
    font-size: 26px
}

;

.fs-27 {
    font-size: 27px
}

;

.fs-28 {
    font-size: 28px
}

;

.fs-29 {
    font-size: 29px
}

;

.fs-30 {
    font-size: 30px
}

;

.fs-31 {
    font-size: 31px
}

;

.fs-32 {
    font-size: 32px
}

;

.fs-33 {
    font-size: 33px
}

;

.fs-34 {
    font-size: 34px
}

;

.fs-35 {
    font-size: 35px
}

;

.fs-36 {
    font-size: 36px
}

;

.fs-37 {
    font-size: 37px
}

;

.fs-38 {
    font-size: 38px
}

;

.fs-39 {
    font-size: 39px
}

;

.fs-40 {
    font-size: 40px
}

;


.fw-100 {
    font-weight: $fw-100;
}

.fw-200 {
    font-weight: $fw-200;
}

.fw-300 {
    font-weight: $fw-300;
}

.fw-400 {
    font-weight: $fw-400;
}

.fw-500 {
    font-weight: $fw-500;
}

.fw-600 {
    font-weight: $fw-600;
}

.fw-700 {
    font-weight: $fw-700;
}

.fw-800 {
    font-weight: $fw-800;
}

.fw-900 {
    font-weight: $fw-900;
}

.ui-relative {
    position: $relative;
}

.ui-absolute {
    position: $absolute;
}

.rounded-sm {
    border-radius: $rounded-sm;
}
.rounded {
    border-radius: $rounded;
}
.rounded-1 {
    border-radius: $rounded-1;
}

.ml-auto {
    margin-left: auto;
}


.mr-2 {
    margin-right: .625rem;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.w-100 {
    width: 100%;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.btn {
    padding: .8rem 1rem;
    text-align: center;
    border-radius: $rounded-1;
}

a {
    text-decoration: none;
}

.onwhite {
    color: $onwhite;
}

.text-success {
    color: $primaryColor !important;
}

.text-secondary {
    color: $lendsqrBlue;
}

.text-light {
    color: $lendsqrLightGray;
}

.text-secondary-light {
    color: #21407d9f;
}

.text-orange {
    color: $lendsqrLightOrange;
}

.text-light-orange {
    color: $lendsqrLightOrange;
}

.bg-orange {
    background-color: $lendsqrLightOrange;
}

.bg-light-orange {
    background-color: $lendsqrLightOrange;
}

.text-red {
    color: $lendsqrRed
}

.text-light-red {
    color: $lendsqrRed
}

.bg-red {
    background-color: $lendsqrRed
}

.bg-light-red {
    background-color: $lendsqrLightRed;
}

.text-pink {
    color: $lendsqrPink
}

.text-light-pink {
    color: $lendsqrLightPink
}

.bg-pink {
    background-color: $lendsqrLightRed;

}

.bg-light-pink {
    background-color: $lendsqrLightRed;

}

.text-purple {
    color: $lendsqrPurple;
}

.text-light-purple {
    color: $lendsqrLightPurple;
}

.bg-purple {
    background-color: $lendsqrPurple;

}

.bg-light-purple {
    background-color: $lendsqrLightPurple;

}

.text-yellow {
    color: $lendsqrYellow;
}

.bg-yellow {
    background-color: $lendsqrLightYellow;
}

.bg-success {
    background-color: $primaryColor !important;
}

.separate {
    padding-bottom: 7rem;
}